# ======================
# 🔹 System & Misc
# ======================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
Thumbs.db

# ======================
# 🔹 IntelliJ / Android Studio
# ======================
*.iml
*.ipr
*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/caches
.idea/.name
.idea/httpRequests/
.idea/shelf/
.idea/modules.xml
.idea/misc.xml

# ======================
# 🔹 VSCode (opcjonalnie)
# ======================
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# ======================
# 🔹 Flutter / Dart / Pub
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
**/build/
coverage/

# ======================
# 🔹 Android specific
# ======================
local.properties
.cxx/
.gradle/
captures/
externalNativeBuild/
android/app/debug/
android/app/profile/
android/app/release/

# ======================
# 🔹 Web build (Flutter Web)
# ======================
build/
web/.dart_tool/
web/coverage/

# ======================
# 🔹 Obfuscation & Symbolication
# ======================
app.*.symbols
app.*.map.json
